#header {
    background-color: #195386;
    padding: 1em;
}

#header h1 {
    text-align: center;
    color: white;
    font-family: sans-serif;
}


body {
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 0 0.3em #255b17;
}

#quote q {
    display: block;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    border: 1px dashed black;
    margin: 20px;
}

#quote p {
    text-align: right;
    margin-right: 100px;
}

/*MENU*/

#menu li {
    display: inline-block;
}